body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(219, 206, 228);
}

h1 {
    color: rgb(75, 58, 129);
}

img {
    width: 200px;
}

main {
    width: 700px;
    text-align: left;
    margin: 35px auto 20px auto;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: rgb(114, 89, 196);
    color: white;
}

ul {
    list-style-type: none;
    border-left: 5px solid rgb(240, 197, 68);
    padding: 0;
}

li {
    margin: 0 auto 0 10px;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: rgb(59, 46, 107);
}

.yellow-highlight {
    background-color: rgb(242, 208, 108);
    border-radius: 3px;
    padding: 3px;
}

.yellow-highlight:hover {
    background-color: rgb(240, 197, 68);
}

.yellow-text {
    color: rgb(240, 197, 68);
}

button {
    background-color: rgb(240, 197, 68);
    padding: 13px 25px;
    border-radius: 10px; 
    border: 0 solid rgb(240, 197, 68);
}

button:hover {
    cursor: pointer;
    background-color: rgb(242, 208, 108);
}

footer p {
    color: gray;
}